<!DOCTYPE html>
<html>
<head>
  <title>PR</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<% if user_signed_in? %>
<%= link_to "log out", destroy_user_session_path, :method => "delete" %>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
